<div>
    <div class="moving">
        <div class="moving-bg">
        </div>
    </div>
    <div class="game-name">Connect Four</div>
    <div class="game-options">
        <div class="single-player" (click)="setGameType('robot')" [ngClass]="{'activeOption':gameType=='robot'}">Single-Player</div>
        <div class="multi-player" (click)="setGameType('manual')" [ngClass]="{'activeOption':gameType=='manual'}">Multiplayer</div>
    </div>
    <div class="singleplayer-options" *ngIf="gameType=='robot'" >
        <div>Can You Please Enter your name?</div>
        <div><input type="text" class="player-name" [(ngModel)]="playerNames[0]"></div>
    </div>
    <div class="multiplayer-options" *ngIf="gameType=='manual'">
        <div class="row">
            <div class="col-6" *ngFor="let x of playerNames;let i=index">
                <div *ngIf="i===0; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>Your Name?</ng-template>
                    <ng-template #elseBlock>Your Opponent Name?</ng-template>
                <div><input type="text" class="playername-layout" [(ngModel)]="playerNames[i]"></div>
            </div>
        </div>   
    </div>
    <div class="playNow" *ngIf="gameType!='none'" (click)="startGame()">Play Now</div>
</div>
